* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
 --color-accent: #005dff;
 --color-text: #1f1f1f;
 --color-shadow: #dfe6f0;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  background-color: rgb(255, 255, 241);
  color: rgb(63, 63, 63);
}

.container {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 8px 0 8px;
}

.progress-bar {
  width: 200px;
  min-height: 200px;
  max-height: 300px;
}

.progress-controls {
  width: 200px;
  height: 300px;
}

.progress-bar svg {
  transform: rotate(-90deg);
}
.progress-bar circle {
  fill: none;
  stroke-width: 5;
}

.progress-bar circle#shadow {
  stroke: var(--color-shadow);
}

.progress-bar circle#progressCircle {
  stroke: var(--color-accent);
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transition: stroke-dashoffset .2s ease;
}

.progress-controls form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.control {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

input[type="number"] {
  width: 3.7rem;
  height: 1.8rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 30px;
  text-align: center;
  font-size: 17px;
  background-color: var(--color-shadow);
}

input[type="number"]:focus {
  border: var(--color-accent) 2px solid;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.label {
  display: inline-block;
  width: 3.7rem;
  height: 1.8rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.7rem;
  height: 1.8rem;
}

input[type="checkbox"] {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-shadow);
  transition: .2s;
  border-radius: 30px;
}

.slider::before {
  content: '';
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #ffffff;
  transition: .2s;
  border-radius: 30px;
}

input:checked+.slider {
  background-color: var(--color-accent);
}

input:checked+.slider:before {
  transform: translateX(1.9em);
}

@media (max-width: 429px){
  .progress-controls form {
    justify-content: flex-start;
  }
}

.animated {
  animation: loader 1.5s ease-in-out infinite;
}

.animatedSVG {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
  }

  50% {
    stroke-dasharray: 283;
    stroke-dashoffset: 130;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
